---
---

@import "{{ site.theme }}";
.page-header {
  background: transparent;
}
.page-header .btn{
  display: none;
}
.site-footer{
  display:none;
}
.main-content h1, .main-content h2, .main-content h3{
  color: #333;
}
body{
  background: linear-gradient(to right top, #dadada, #d3c4ed, #d7a9f9, #e488fb, #f959f2);
}
