---
---

@import "{{ site.theme }}";
.page-header {
  background: transparent;
}
.page-header .btn{
  display: none;
}
.site-footer{
  display:none;
}
.main-content h1, .main-content h2, .main-content h3{
  color: #ddd;
}
body{
  background: linear-gradient(to right top, #de86f6, #ff7cc9, #ff8498, #ff9b70, #ffb759);
}
