---
---

@import "{{ site.theme }}";
.page-header {
  background: transparent;
}
.page-header .btn{
  display: none;
}
.site-footer{
  display:none;
}
.main-content h1, .main-content h2, .main-content h3{
  color: #ddd;
}
body{
  background: linear-gradient(to right top, #393939, #3b3653, #3d316d, #412985, #481b9b);
}
